body {
  background: rgb(255,255,255);
  background-image: url(/tc-bg-tile-flower.png);
  background-image: url(/tc-bg-tile-flower.png), -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(230,230,230,1) 100%);
  background-image: url(/tc-bg-tile-flower.png), -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(230,230,230,1) 100%);
  background-image: url(/tc-bg-tile-flower.png), radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(230,230,230,1) 100%);
}

.gold-gradient {
  border: solid 2pt;
  border-image-slice: 1;
  background-image-source: -moz-radial-gradient(circle, rgba(255,251,204,1) 0%, rgba(238,214,136,1) 37%, rgba(235,187,16,1) 68.5%, rgba(195,146,46,1) 100%);
  background-image-source: -webkit-radial-gradient(circle, rgba(255,251,204,1) 0%, rgba(238,214,136,1) 37%, rgba(235,187,16,1) 68.5%, rgba(195,146,46,1) 100%);
  background-image-source: radial-gradient(circle, rgba(255,251,204,1) 0%, rgba(238,214,136,1) 37%, rgba(235,187,16,1) 68.5%, rgba(195,146,46,1) 100%);
}
